<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-body">
    <ul>
      <li>
        <b>Blitzcode Library</b>
      </li>
      <li>
        <b> Steps</b>
      </li>
      <br>
      <li>
        1.Install Angular Cli
      </li>
      <br>
      <li>
        2.Install dependencies
      </li>
      <br>
      <li>
        3.User Table: users(username,email,password,role)
      </li>
      <br>
      <li>
        4.Books Table: books(name,author,publisher)
      </li>
      <br>
      <li>
        5.Book Issue Table: bookings(email,issuedby,name)
      </li>
    </ul>
  </div>
</div>